.footer {
  margin-bottom: 3rem;
  padding: 0 15rem;
  
  &__wrapper {
    align-items: center;
    border-top: 1px dashed var(--grey-font2);
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__nav {
    flex-basis: 30%;
    a {
      color: #000;
      font-size: 1.3rem;
      font-weight: 100;

      &:hover {
        font-weight: 400;
      }
    }

    @include respond(tablet) {
      flex-basis: 50%;
    }

  }

  &__social {
    flex-basis: 17.5rem;
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;

    @include respond(phone) {
      flex-basis: 7.5rem;
      width: 60%;
    }
  }

  @include respond(phone) {
    padding: 1em;
  }

  @include respond(tablet) {
    padding: 3em;
  }

}