*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 100;

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

a,
a:link,
a:focus,
a:visited {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}