.feature {
  background-color: rgba(80, 80, 80, .5);
  backdrop-filter: blur(1rem);
  color: var(--white);
  padding: 3rem 2.5rem;
  max-width: 48rem;

  &__title {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: 1.6rem;
  }

  &__copy {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    width: 85%;
  }

  &__icon {
    fill: var(--white);
    margin-right: 0.5rem;
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 4rem;

    a {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__footing {
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
  }
}