.navigation {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;

  &__link {

    a {
      color: var(--white);
    }
    @include respond(phone) {
      margin-bottom: 1.5rem;
    }
  }

  @include respond(phone) {
    flex-direction: column;
  }
}